@font-face {
    font-family: "PlusJakartaSans";
    src: url(../media/fonts/PlusJakartaSans.woff2);
    font-weight: 100 900;
    font-style: normal;
}

:root{
    --color-base: #FFFFFF;
    --main-color: #000000;
    --secondary-color: #33CEE5;

    --background-color: var(--color-base);

}
*{
    box-sizing: border-box;
}

/* body{
    margin-bottom: 3rem;
} */
.container{
    display: grid;
    grid-template-columns: repeat(6,1fr);
    grid-template-rows: 20% repeat(3, 1fr);
    place-items: center;
    justify-content: space-between;
    padding-bottom: 10rem;

} 


h1{
    font-family: "PlusJakartaSans";
    color: var(--main-color);
    font-size: 40px;
    line-height: 110%;
    text-align: center;
    font-weight: 700;
    grid-column: 2 / span 4;
    grid-row: 1;
    margin-top: 1rem;
    
}

h3{
    font-family: "PlusJakartaSans";
    color: var(--main-color);
    font-size: 25px;
    font-weight: 500;
    line-height: 150%;
    text-align: center;
    grid-column: 2 / span 4;
    grid-row: 2;
    align-self:start;
    margin-top: 3.5rem;
}

h4{
    font-family: "PlusJakartaSans";
    color: var(--main-color);
    font-size: 20px;
    font-weight: 500;
    line-height: 200%;
    text-align: center;
    grid-column: 2 / span 4;
    grid-row: 2;
}

.rectangle{
    width: 1270px;
    height:239px;
    opacity: 30%;
    background-color: var(--secondary-color);
    grid-column: 2 / span 4;
    grid-row: 2;
    z-index: -20;
}

.bold-text {
    font-weight: 700;
    color: var(--secondary-color);
}

.bold-text2 {
    font-weight: 700;
    color: var(--main-color);
}

div{
    display: flex;
    flex-direction: row;
}

#row1{
    grid-column: 3 / span 2;
    grid-row: 3;
    gap:14px;
    margin-top: 1.5rem;
}

img{
    border: 1px solid #33CEE5;
}

div{
    display: flex;
    flex-direction: row;
}

#row2{
    grid-column: 3 / span 2;
    grid-row: 4;
    gap:14px;
    margin-top: 1rem;
}

.input-container{
    grid-column: 2 / span 4;
    grid-row: 2;
    justify-self: center;
    align-self: center;
    margin-top: 4rem;
    display: flex;
    gap: 1rem; 
    align-items: center;
}

#date-picker{
    font-family: "PlusJakartaSans";
}
.submit-button{
    font-family: "PlusJakartaSans";
    background-color: var(--secondary-color);
    color: var(--main-color);   
    border: 1px solid var(--secondary-color);
    border-radius: 100px;
}



