@font-face {
    font-family: "PlusJakartaSans";
    src: url(../media/fonts/PlusJakartaSans.woff2);
    font-weight: 100 900;
    font-style: normal;
}

:root{
    --color-base: #FFFFFF;
    --main-color: #000000;
    --secondary-color: #33CEE5;

    --background-color: var(--color-base);

}
*{
    box-sizing: border-box;
}

.container{
    display: grid;
    grid-template-columns: repeat(6,1fr);
    grid-template-rows: repeat(4,1fr);

} 
h1{
    font-family: "PlusJakartaSans";
    color: var(--main-color);
    font-size: 30px;
    font-weight: 700;
    line-height: 110%;
    text-align: center;
    grid-column: 2;
    
}

b{
    font-family: "PlusJakartaSans";
    color: var(--secondary-color);
}

h3{
    font-family: "PlusJakartaSans";
    color: var(--main-color);
    font-size: 20px;
    font-weight: 700;
    line-height: 150%;
    text-align: center;
    grid-column: 2;
    grid-row: 2;
}

h4{
    font-family: "PlusJakartaSans";
    color: var(--main-color);
    font-size: 16px;
    font-weight: 700;
    line-height: 150%;
    text-align: center;
    grid-column: 2;
}



.rectangle{
    width:900px;
    height:200px;
    opacity: 40%;
    background-color: var(--secondary-color);
    grid-column: 2;
}
